$primary: #3b4a6b;
$secondary: #f0d43a;

$link-decoration: none;

$border-radius: 0.5rem;

$headings-font-family: "AXIS Extra Bold";

$enable-rounded: false;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      3rem !default;

@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
}

label[disabled], a[disabled] {
    opacity: .65;
    pointer-events: none;
}

@font-face {
    font-family: 'AXIS Extra Bold';
    src: url('/fonts/axis_extra_bold_800-webfont.woff2') format('woff2'),
         url('/fonts/axis_extra_bold_800-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

.bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.bg-secondary-90 {
    background-color: rgba($secondary, .9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}