<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link href=https://use.fontawesome.com/releases/v5.13.1/css/all.css rel=stylesheet>

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Params.description }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0d43a">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#3b4a6b">
</head>

<body>
    <header class="site-header sticky-top">
        <!-- <div class="bg-primary text-white py-2 small text-center">
            Orders over $100 get free shipping!
        </div> -->

        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="container">

                <a class="navbar-brand" href="/"><h1 class="fs-4 mb-0 text-primary">Very Good Garage</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex w-100">
                        <li class="nav-item ms-auto">
                            <a class="nav-link" href="/shop/">Merch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/videos/">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/links/">Affiliate Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart/">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">About</a>
                        </li>
                        <li class="nav-item me-auto">
                            <a class="nav-link" href="/contact/">Contact Us</a>
                        </li>

                        <li class="nav-item ms-auto">
                            <a class="nav-link" href="{{$.Site.Params.youtube}}">
                               <img src="/img/youtube.png" class="align-baseline" style="height:1.5rem">
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>

    <footer id="footer" class="bg-secondary mt-5">
        <div class="py-5 border-bottom border-primary">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">

                        <!-- Heading -->
                        <h4 class="mb-3"><a href="/">Very Good Garage</a></h4>

                    </div>
                    <div class="col-6 col-sm">

                        <!-- Heading -->
                        <h6 class="mb-3">
                            Support
                        </h6>

                        <!-- Links -->
                        <ul class="list-unstyled mb-4 mb-sm-0">
                            <li>
                                <a href="/contact/">Contact Us</a>
                            </li>
                            <li>
                                <a href="/shipping/">Shipping</a>
                            </li>
                            <li>
                                <a href="/returns/">Returns</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-sm">

                        <!-- Heading -->
                        <h6 class="mb-3">
                            Shop
                        </h6>

                        <!-- Links -->
                        <ul class="list-unstyled mb-4 mb-sm-0">
                            <li>
                                <a href="/hoodies/">Hoodies</a>
                            </li>
                            <li>
                                <a href="/links/">Affiliate Links</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-sm">

                        <!-- Heading -->
                        <h6 class="mb-3">
                            Company
                        </h6>

                        <!-- Links -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/about/">About</a>
                            </li>
                            <li>
                                <a href="/careers/">Careers</a>
                            </li>
                            <li>
                                <a href="/terms/">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="/privacy/">Privacy &amp; Cookie policy</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-sm">

                        <!-- Heading -->
                        <h6 class="mb-3">
                            Contact
                        </h6>

                        <!-- Links -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="mailto:{{$.Site.Params.email}}">{{$.Site.Params.email}}</a>
                            </li>
                            <li>
                                <a href="{{$.Site.Params.youtube}}">YouTube</a>
                            </li>
                            <li>
                                <a href="{{$.Site.Params.instagram}}">Instagram</a>
                            </li>
                            <li>
                                <a href="{{$.Site.Params.facebook}}">Facebook</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Copyright -->
                        <p class="mb-1 mb-md-0 small">
                            © 2019-<script>document.write(new Date().getFullYear())</script>&nbsp; Very Good Garage
                        </p>

                    </div>
                    <div class="col-auto">

                        <!-- Payment methods -->
                        <i class="fab fa-lg fa-cc-mastercard"></i>&nbsp;
                        <i class="fab fa-lg fa-cc-visa"></i>&nbsp;
                        <i class="fab fa-lg fa-cc-amex"></i>&nbsp;
                        <i class="fab fa-lg fa-cc-paypal"></i>&nbsp;
                        <i class="fab fa-lg fa-bitcoin"></i>&nbsp;
                        <i class="fab fa-lg fa-monero"></i>&nbsp;
                        <i class="fab fa-lg fa-ethereum"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script>
    {{ $js := resources.Get "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" | minify | fingerprint}}
    <script src="{{ $js.Permalink }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6G1HMN57E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J6G1HMN57E');
    </script>

</body>

</html>