{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="container pt-5">
    <div class="row">
        <div class="col-8 pe-5">{{ range .Params.images }}
            <img src="{{ . }}" class="w-100">{{end}}
        </div>
        <div class="col">
            <h1 class="mb-0">{{ .Title }}</h1>
            <p class="fs-4 mb-4 text-primary">${{ .Params.price | lang.NumFmt 2 }} USD</p>
            {{ .Content }}

            <div class="mt-5">
                <select class="form-select form-select-lg d-inline-block px-3">
                    <option value="">Select a size</option>{{ range .Params.sizes }}
                    <option>{{ . }}</option>{{end}}
                </select>
                <div class="input-group mt-2" style="width:8rem">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                    <input type="number" class="form-control text-center" placeholder="" value="1" min="0" step="1">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-plus"></i></button>
                </div>
                <button class="btn btn-lg btn-outline-primary mt-3"><i class="fas fa-sm fa-heart"></i> Add To Cart </button>
            </div>

            <p class="mt-5">
                We print everything in house. The same garages you see in our videos are where everything gets printed.
                Everything we list is actually worn by us in our every day lives so we know it holds up well and the prints don't fade.
            </p>
        </div>
    </div>
</div>
{{ end }}